section.about
        
    .about__wrapper 
        div.about-decor__top
            img(src="img/ellipse-violet-about.svg", alt="")
        div.about-container.container
            div.about-decor__left
                img(src="img/ellipse-blue-about.svg", alt="")
            div.about-decor__bottom
                img(src="img/ellipse-violet-small-about.svg", alt="")
            h2.about-title Что даст тебе обучение?
                div.about-cards
                    img.about-decor__up(src="img/ellipse-about.svg", alt="")
                    div.about-item.about-item__1
                        img.about-img(src="img/about-1.png", alt="")
                        p.about-text Откроешь свой первый криптокошелек&nbsp;и&nbsp;научишься с ним работать
                    div.about-item.about-item__2
                        img.about-img(src="img/about-2.png", alt="")
                        p.about-text Поймёшь, как выбирать правильные дропы
                    div.about-item.about-item__3
                        img.about-img(src="img/about-3.png", alt="")
                        p.about-text Построишь план&nbsp; по&nbsp;быстрому&nbsp;приумножению&nbsp; заработанных средств
                    div.about-item.about-item__4
                        img.about-img(src="img/about-4.png", alt="")
                        p.about-text Узнаешь кто такие холдеры и флипперы
                    img.about-decor__down(src="img/ellipse-about.svg", alt="")

