header.header
    div.container.header-container
        a(href="#")
            img.header-logo(src="img/logo.svg", alt="Logo")
        button.header-button 
            img(src="img/burger-menu.svg", alt="Burger menu")
        nav
            ul.nav
                li.nav-item
                    a.nav-link(href="#") Главная
                li.nav-item
                    a.nav-link(href="#") Что даст обучение
                li.nav-item
                    a.nav-link.nav-link__account(href="#") Личный кабинет