div.mobile-bg
    div.mobile
        div.container.mobile-container
            a(href="#")
                img.mobile-logo(src="img/logo.svg", alt="Logo")
            button.mobile-close 
                img(src="img/close.svg", alt="Burger menu")
            nav.mobile-nav
                ul
                    li.mobile-item
                        a.mobile-link(href="#") Главная
                    li.mobile-item
                        a.mobile-link(href="#") Что даст обучение
                    li.mobile-item
                        a.mobile-link.mobile-link__account(href="#") Личный кабинет