.modal.popup-bg
    div.popup
        .popup-decor 
            img(src="img/popup-decor.svg", alt="")
        img.popup-close(src="img/close-popup.svg", alt="close")
        h2.popup-title  Начни прямо сейчас!
        p.popup-text Получи все нужные навыки для заработка на NFT всего за 28 дней!
        form.popup-form(action="#" method="POST")
            input.popup-input#email(type="email" name="email" required placeholder="Ваш email")
            button.popup-button.button(type="submit") Оплатить
