section.promo
    img.promo-decor(src="img/ellipse-main.svg", alt="")
    div.promo-container.container
        div.promo-text
            h1.promo-title Не упусти возможность войти в 
                strong прибыльную нишу
            img.promo-img__mobile(src="img/main-photo-mobile.png", alt="Изображение мужчины")
            p.promo-descr Получи все нужные навыки для заработка на NFT всего за 28 дней!
            button.promo-button.button Начать зарабатывать на NFT
        div.promo-img
            picture
                source(srcset="img/main-photo-mobile.png", media="(max-width: 1180px)")
                img(src="img/main-photo.png", alt="Изображение мужчины")