.about {
  padding-top: 204px;
  margin-bottom: 200px;
  position: relative;

  &__wrapper {
    position: relative;
    display: flex;
    max-width: 1284px;
    margin: 0 auto;
  }

  .about-container {
    width: 100%;
    padding-top: 130px;
    padding-bottom: 130px;
    background: #1d2532;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
  }

  &-decor__top {
    position: absolute;
    top: -100px;
    right: 10%;
    z-index: 3;
  }

  &-decor__left {
    position: absolute;
    top: 100px;
    left: 13%;
  }

  &-decor__bottom {
    position: absolute;
    bottom: 96px;
    right: 141px;
  }

  &-decor__up {
    position: absolute;
    bottom: 550px;
    right: -200px;
  }

  &-decor__down {
    position: absolute;
    top: 407px;
    left: -150px;
  }

  &-title {
    font-size: 45px;
    font-weight: 600;
    text-align: center;
  }

  &-cards {
    // padding: 0 24.53%;
    max-width: 650px;
    margin: 65px auto 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }

  &-item {
    // background-color: rgba(51, 62, 81, 0.7);
    background-color: #333e51;
    max-width: 300px;
    padding: 45px 19px 50px 19px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -20px;
      width: 91%;
      height: 268px;
      background-color: rgba(51, 62, 81, 0.6);
      z-index: -1;
      border-radius: 20px;
    }
  }

  &-img {
    margin-bottom: 23px;
    width: 117px;
    height: 117px;
  }

  &-text {
    font-size: 19px;
    font-weight: 400;
    line-height: 25px;
  }
}

@media (max-width: 1024px) {
  .about {
    padding-top: 150px;
    margin-bottom: 150px;

    &-decor__top {
      position: absolute;
      right: -20px;
    }

    &-decor__top-small {
      right: 50px;
    }

    &-cards {
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
      grid-template-areas: "card1" "card4" "card3" "card2";
    }

    &-title {
      font-size: 30px;
    }

    &-decor__up {
      top: -170px;
      right: -200px;
    }

    &-decor__down {
      top: 1050px;
    }
  }

  .about-item__1 {
    grid-area: card1;
  }
  .about-item__2 {
    grid-area: card2;
  }
  .about-item__3 {
    grid-area: card3;
  }
  .about-item__4 {
    grid-area: card4;
  }
}

@media (max-width: 768px) {
  .about {
    margin-bottom: 0;
    &-title {
      font-size: 23px;
    }

    &-decor__top {
      width: 87px;
      height: 87px;
      right: -30px;
      top: -55px;
    }

    &-decor__left {
      width: 22px;
      height: 22px;
      top: 106px;
      // left: 100px;
    }

    &-decor__bottom {
      width: 62px;
      height: 62px;
      right: 27px;
      bottom: 13px;
    }
  }
}

@media (max-width: 480px) {
  .about {
    padding-top: 70px;
    margin-bottom: 0;

    .about-container {
      padding-top: 40px;
      padding-bottom: 102px;
      padding-left: 0;
      padding-right: 0;
      overflow: visible;
    }

    &-decor__left {
      width: 22px;
      height: 22px;
      top: 106px;
      left: 5%;
    }

    &-decor__up {
      top: -194px;
      right: -129px;
    }

    &-decor__down {
      display: none;
    }

    &-text {
      font-size: 16px;
    }

    &-cards {
      padding: 0 30px;
      gap: 35px;
    }

    &-item {
      max-width: 260px;
      height: 290px;
      padding-top: 70px;
    }

    &-img {
      width: 83px;
      height: 83px;
    }
  }
}
